/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: lavender;
}

.btn-primary {
  color: #000000;
  background-color: #e5e5e5;
  border-color: #000000;
}

.navbar-light .navbar-brand {
    color: #d6e7f9;
}

.navbar-brand:focus {
    color: #1861ac;
}

.navbar-light .navbar-nav .nav-link {
    color: #d6e7f9;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #3c3737;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #3c3737;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.form-control {
    background-color: #444040;
}

.col-md-4 .order-md-2 .mb-4 .list-group {
    background-color: #444040;
}

.list-group-item {
    background-color: #444040;
}

.custom-select {
    background-color: #b4b6b9;
}
.card {
    background-color: #444040;
}

.bg-light {
   background-color: #b4b6b9 !important;
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    color:#d6e7f9 ;
}

.container {
    background-color: #636160;
    color: #d6e7f9;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #3c3737;
    color: #d6e7f9;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
